vmaccepteula
network --bootproto=dhcp --device=vmnic0
rootpw VMware1!

%pre --interpreter=busybox
# Force start the micro-kernel internal runtime SSH service
/etc/init.d/SSH start

# Hold the installer environment completely open in an infinite sleep loop
while true; do
    sleep 60
done
